<div class="botton-add">
        <div class="{{active?'menu-color-active':'menu-color'}}">
                <div class="botton-add-color button-single-blue" ng-click="addNota('blue')"></div>
                <div class="botton-add-color button-single-green" ng-click="addNota('green')"></div>
                <div class="botton-add-color button-single-orange" ng-click="addNota('orange')"></div>
                <div class="botton-add-color button-single-purple" ng-click="addNota('purple')"></div>
                <div class="botton-add-color button-single-yellow" ng-click="addNota('yellow')"></div>
        </div>
        <div class="{{active?'icon-active':'icon'}}" ng-click="menuActive()">+</div>
</div>

                


